AWS_REGION = "your_aws_region_here" # e.g. us-east-1, eu-west-1
AWS_ACCESS_KEY_ID = "your_aws_access_key_id_here"
AWS_SECRET_ACCESS_KEY = "your_aws_secret_access_key_here"

JWT_SECRET = "" # Generate a secret using `openssl rand -base64 32`
NEXTAUTH_SECRET= "" # Generate a secret using `openssl rand -base64 32`
NEXTAUTH_URL= "http://localhost:3000" # The base URL of the site (e.g. http://localhost:3000)

DATABASE_URL="postgresql://user:password@url:port/dbname" # Replace with your actual database URL